.simplex-default {
  margin-top: 10px;
}

.z-actions,
.restrictions-actions {
  display: flex;
  margin-bottom: 10px;
}

.btn-z-add,
.btn-restrictions-add {
  margin: 0 10px;
}

.last-or-equal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.results {
  margin-top: 15px;
}

.pivot {
  color: red;
  font-weight: bold;
}

.table-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 5px;
}

.step-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.btn-next-step {
  margin-left: 5px;
}

.mat-form-field {
  width: 100%;
}
